* {
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
    margin: 0 auto;
    color: rgb(48, 46, 46);
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

a {
    all: unset;
}

a:link {
    text-decoration: none;
    color: rgb(48, 46, 46);
}
a:visited {
    text-decoration: none;
    color: rgb(48, 46, 46);
}
a:hover { /*마우스가 올라갔을때*/
    text-decoration: none;
    color: rgb(51, 51, 51);
    cursor: pointer;
} 
a:active {
    color: rgb(48, 46, 46);
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: rgb(249, 250, 207);
    top: 0;
    left: 0;
    z-index: 1000;
}
.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: hidden;
}
.head-container {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (min-width: 1200px){
    .inner {
        max-width: 1200px;
    }
}

.head-brand { 
    font-weight: bold;
}
.head-brand a:hover {
    color: rgb(67, 67, 194);
    cursor: pointer;
}
.head-blog {
    font-weight: bold;
}
.head-blog a:hover {
    color: rgb(67, 67, 194);
    cursor: pointer;
}

section {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}
.main {
    background-image: url(/Users/leehyeeun/Desktop/fun-coding_review/img/student.jpeg);
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 10%;
    z-index: 1;
}
.main-container { 
    width: 100%;
    height: 100%;
    background-color: rgb(47, 48, 89);
    opacity: 0.8;
    margin-top: 60px;
    z-index: 2;
}

.title-container { 
    padding-top: 100px;
    padding-bottom: 100px;
}

.title { 
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding-bottom: 0.8rem;
}

.message {
    font-size: 1.4rem;
    font-weight: normal;
    color: white;
    line-height: 2rem;
}

.skill-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.skill {
    width: 25%;
    background-color: white;
    border-radius: 9px;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    transition: 0.4s;
}

.skill:hover {
    transform: translate(0, -5px);
    cursor: pointer;
}

.skill-icon {
    font-size: 2.5rem;
    margin: 0 10px;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.skill-name {
    font-weight: bold;
    margin-bottom: 0.2rem;
    color: #545e6f;
}

.skill-usage {
    font-size: 0.9rem;
    color: #545e6f;
}

.python-style { 
    color: #2186c4;
}
.chart-style {
    color: red;
}
.ai-style {
    color: rgb(250, 237, 56);
}
.vuejs-style {
    color: green;
}

@media only screen and (max-width: 950px){
    .skill-container{
        display: none !important;
    }
}

.roadmap-container {
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

.roadmap-title-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.roadmap-title {
    font-weight: bold;
    color: #545e6f;
    font-size: 1.3rem;
}

.slide-prev {
    font-size: 1.7rem;
    cursor: pointer;
    color: #cfd8dc;
}
.slide-prev-hover:hover {
    transition: transform 0.5s;
    transform: translateX(-3px);
}
.slide-next {
    font-size: 1.7rem;
    cursor: pointer;
    color: rgb(47, 48, 89);
}
.slide-next-hover:hover {
    transition: transform 0.5s;
    transform: translateX(+3px);
}
.class-list {
    display: flex;
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    overflow: visible;
}

.class-card {
    width: 240px;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    border-radius: 8px;
    margin: 0 10px;
    transition: 0.4s;
    flex-shrink: 0;
}

.class-card:hover {
    box-shadow: 10px 10px 10px 0px rgba(25, 43, 70, 0.2);
    transform: translate(0, -5px);
}

.class-img {
    max-width: 240px;
    border-radius: 8px 8px 0 0;
}

.class-container {
    width: 100%;
    padding: 0.5rem 1rem 1rem 1rem;
}

.class-skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class-type {
    font-size: 0.9rem;
    color: #949393;
}

.class-format {
    font-size: 0.9rem;
    color: white;
    background-color: #4f6149;
    border-radius: 5px;
    padding: 0.2rem;
}

.class-description {
    width: 100%;
    margin-top: 1rem;
    color: #545e6f;
}

.class-description:hover {
    color: #2186c4;
}

.class-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
}

.class-detail {
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: inherit;
}

ul li img:hover {
    cursor: grab;
}

ul li img:active {
    cursor: grabbing;
}

.roadmap-description {
    visibility: visible;
}

@media only screen and (max-width: 630px){ /* width가 980px이하면 작아지면 */
    .roadmap-description {
        visibility: hidden; /*특정 길이보다 작아지면 아예 보이지 않도록 설정*/
    }
}

footer {
    border-top: 1px solid #e4e4e4;
    background-color: #f8f9fa;
    padding: 1.5rem 0;
    margin: 1rem 0;
}

.footer-message {
    font-size: 1rem;
    font-weight: bold;
    color: #545e6f;
}

.footer-contact {
    margin: 0.5rem 0;
    color: #545e6f;
}

.footer-copyright {
    color: #545e6f;
    font-size: 0.98rem;
}

#backtotop {
    background-color: rgb(47, 48, 89);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
    transition-property: background-color, opacity, visibility;
    transition-duration: 0.3s, 0.5s, 0.5s;
    opacity: 0;
    z-index: 999;
}

#backtotop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-size: 1.5rem;
    line-height: 40px;
    color: white;
}

#backtotop.show {
    opacity: 1;
    visibility: visible;
    background-color: rgb(47, 48, 89);
}

#backtotop.show:hover {
    background-color: #2186c4;
    cursor: pointer;
}